<div style="float:right">
  <a href="/">Home</a> | 
  <a href="/users">Manage Users</a> | 
  <a href="/books">Manage Books</a>
</div>

<h1>All Books:</h1>
<table>
  <tr>
    <th>Book Title:</th>
    <th>Author:</th>
  </tr>
  <% @books.each do |book| %>  
    <tr><td><a href="/books/<%= book['id'] %>"><%= book['title'] %></a></td><td><%= book['author'] %></td></tr>
  <% end %>
</table>

<form method="POST" action="/books">
  <h3>Add New Book</h3>
  <label>Title:</label>
  <input type="text" name="book_title" />
  <label>Author:</label>
  <input type="text" name="book_author" />
  <input type="submit" value="submit" />
</form>