<div style="float:right">
  <div>
    <a href="/">Home</a>
  </div>
  <div>
    <a href="/users">Manage Users</a>
  </div>
  <div>
    <a href="/books">Manage Books</a>
  </div>
  <div>
    <a href="/status">Book Status</a>
  </div>
<!--  <div>
    <a href="/checkout">Checkout Book</a>
  </div> -->
</div>

<h1>All Books:</h1>
<table>
<% @books.each do |book| %>
	<tr><td><a href="/books/<%= book['id']%>"><%= book['title'] %></a></td><td><em><%= book['author'] %></em></tr>
<% end %>
</table>

<form method="POST" action="/books">
  <h3>Add New Book</h3>
  <label>Title:</label>
  <input type="text" name="book_title" />
  <label>Author:</label>
  <input type="text" name="book_author" />
  <input type="submit" value="submit" />
</form>