<div style="float:right">
	<div>
		<a href="/">Home</a>
	</div>
	<div>
		<a href="/users">Manage Users</a>
	</div>
	<div>
		<a href="/books">Manage Books</a>
	</div>
	<div>
		<a href="/status">Book Status</a>
	</div>
<!-- 	<div>
		<a href="/checkout">Checkout Book</a>
	</div> -->
</div>

<h1>Current Status of All Books:</h1>
<table>
	<tr>
		<th>Book Title:</th>
		<th>Current Status:</th>
		<th>Borrower Name:</th>
		<th>Timestamp:</th>
	</tr>
	<% @status.each do |book| %>	
	  <tr><td><strong><%= book['title'] %></strong></td><td><%= book['status'] %></td><td><%= book['name'] %></td><td><%= book['created_at'] %></td></tr>
	<% end %>
</table>