<div style="float:right">
	<a href="/">Home</a> | 
	<a href="/users">Manage Users</a> | 
	<a href="/books">Manage Books</a>
</div>

<h1>Book Status:</h1>
<table>
	<tr>
		<th>Book Title:</th>
		<th>Current Status:</th>
		<th>Timestamp:</th>
	</tr>
<% @status.each do |book| %>	
  <tr><td><strong><%= book['title'] %></strong></td><td><%= book['status'] %></td><td><%= book['created_at'] %></td></tr>
<% end %>
</table>