<div style="float:right">
	<div>
		<a href="/">Home</a>
	</div>
	<div>
		<a href="/users">Manage Users</a>
	</div>
	<div>
		<a href="/books">Manage Books</a>
	</div>
	<div>
		<a href="/status">Book Status</a>
	</div>
<!-- 	<div>
		<a href="/checkout">Checkout Book</a>
	</div> -->
</div>

<h1>The Library Plus System</h1>

<p>Welcome to your freedom!</p>